In [1]:
## data source: https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset
## This is a fictional dataset created by IBM Scientists.
## Data Manipulation analysis around reasons for employee attrition

In [2]:
# import all the necessary libraries
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv('HR-Employee-Attrition.csv')

In [4]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
data.shape

(1470, 35)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [7]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [8]:
## Which department has seen the most attrition?

In [9]:
data['Department'].unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [10]:
data.groupby('Department')['Attrition'].value_counts()

Department              Attrition
Human Resources         No            51
                        Yes           12
Research & Development  No           828
                        Yes          133
Sales                   No           354
                        Yes           92
Name: Attrition, dtype: int64

In [11]:
data.query('Attrition=="Yes"').groupby('Department')['Attrition'].value_counts()

Department              Attrition
Human Resources         Yes           12
Research & Development  Yes          133
Sales                   Yes           92
Name: Attrition, dtype: int64

In [12]:
data['Attrition_mapped'] = (data['Attrition'] == "Yes").map({True:1, False:0})

In [13]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_mapped
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,1
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,0
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,1
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,0

In [14]:
P = data.query('Attrition_mapped==1').groupby('Department').agg({'Attrition_mapped':np.sum})
P['Percentage'] = 100 * P['Attrition_mapped']  / P['Attrition_mapped'].sum()
P

                        Attrition_mapped  Percentage
Department
Human Resources                       12    5.063291
Research & Development               133   56.118143
Sales                                 92   38.818565

Research & Development department has the highest attrition rate

In [15]:
## Which Job Role has seen the most attrition?

In [16]:
data['JobRole'].unique()

array(['Sales Executive', 'Research Scientist', 'Laboratory Technician',
       'Manufacturing Director', 'Healthcare Representative', 'Manager',
       'Sales Representative', 'Research Director', 'Human Resources'],
      dtype=object)

In [17]:
P = data.query('Attrition_mapped==1').groupby('JobRole').agg({'Attrition_mapped':np.sum})
P['Percentage'] = 100 * P['Attrition_mapped']  / P['Attrition_mapped'].sum()
P.sort_values('Percentage', ascending=False)

                           Attrition_mapped  Percentage
JobRole
Laboratory Technician                    62   26.160338
Sales Executive                          57   24.050633
Research Scientist                       47   19.831224
Sales Representative                     33   13.924051
Human Resources                          12    5.063291
Manufacturing Director                   10    4.219409
Healthcare Representative                 9    3.797468
Manager                                   5    2.109705
Research Director                         2    0.843882

Lab Technician job role was the most impacted by attrition and has the highest attrition rate

In [18]:
## Does income parity across departments have an effect on attrition?

In [19]:
data.groupby('Department').agg({'MonthlyIncome':np.mean})

                        MonthlyIncome
Department
Human Resources           6654.507937
Research & Development    6281.252862
Sales                     6959.172646

In [20]:
P = data.query('Attrition_mapped==1').groupby('Department').agg({'Attrition_mapped':np.sum, 'MonthlyIncome':np.mean})
P['Percentage'] = 100 * P['Attrition_mapped']  / P['Attrition_mapped'].sum()
P

                        Attrition_mapped  MonthlyIncome  Percentage
Department
Human Resources                       12    3715.750000    5.063291
Research & Development               133    4108.075188   56.118143
Sales                                 92    5908.456522   38.818565

In [21]:
P = data.query('Attrition_mapped==0').groupby('Department').agg({'Attrition_mapped':'count', 'MonthlyIncome':np.mean})
P['Percentage'] = 100 * P['Attrition_mapped']  / P['Attrition_mapped'].sum()
P

                        Attrition_mapped  MonthlyIncome  Percentage
Department
Human Resources                       51    7345.980392    4.136253
Research & Development               828    6630.326087   67.153285
Sales                                354    7232.240113   28.710462

Employees within the same department who attrite have lesser monthly income compared to those who don't

In [22]:
## Gender v/s monthly income for both attrite and non-attrite employees

In [23]:
P = data.query('Attrition_mapped==1').groupby('Gender').agg({'Attrition_mapped':'count', 'MonthlyIncome':np.mean})
P['Percentage'] = 100 * P['Attrition_mapped']  / P['Attrition_mapped'].sum()
P

        Attrition_mapped  MonthlyIncome  Percentage
Gender
Female                87    4769.735632   36.708861
Male                 150    4797.160000   63.291139

In [24]:
P = data.query('Attrition_mapped==0').groupby('Gender').agg({'Attrition_mapped':'count', 'MonthlyIncome':np.mean})
P['Percentage'] = 100 * P['Attrition_mapped']  / P['Attrition_mapped'].sum()
P

        Attrition_mapped  MonthlyIncome  Percentage
Gender
Female               501    7019.429142   40.632603
Male                 732    6704.964481   59.367397